@model IEnumerable<CTMS.Models.Department>

@{
    ViewData["Title"] = "DepartmentView";
}
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success !</strong>@TempData["AlertMessage"]

    </div>
}
<div class="shadow p-3 mb-5 bg-white rounded">
    <div class="">



        <div class=" shadow-none p-3 mb-5 bg-light rounded ">
            <p>
                <a onclick="showInPopUp('@Url.Action("DepartmentCreation","Department",null,Context.Request.Scheme)',' New Department')" class="btn btn-outline-success"><i class="fa-solid fa-plus"></i> Create New</a>
            </p>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @*<a asp-action="DepartmentEdit" asp-route-id="@item.Id" class="btn btn-warning">Update</a> |*@
                                <a onclick="showInPopUp('@Url.Action("DepartmentEdit","Department",new {id = item.Id},Context.Request.Scheme)','Update Department')" class="btn btn-primary btn-sm ">Update</a>
                                @*<a onclick="showInPopUp('@Url.Action("DepartmentEdit","Department",@item.Id,Context.Request.Scheme)',' New Deportment')" class="btn btn-outline-success"><i class="fa-solid fa-plus"></i> Create New</a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
