@model IEnumerable<CTMS.Models.RequestForm>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.ResonForChange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
              <td>
               @Html.DisplayFor(modelItem => item.ResonForChange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                 <a onclick="showInPopUp('@Url.Action("AddOrEditRequest","RequestForms",new {id = item.Id},Context.Request.Scheme)','Update Request')" class="btn btn-primary btn-sm "><i class="fa fa-pencil-alt"></i> </a>
                |<a onclick="showInPopUp('@Url.Action("AssignRequest","RequestForms",new {id = item.Id},Context.Request.Scheme)','Assign Request')" class="btn btn-info btn-sm "><i class="fa-solid fa-user "></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
